streamlit

langchain
langchain-community
langchain-ollama
langchain-huggingface
langchain-text-splitters

pymupdf

faiss-cpu

sentence-transformers
torch
torchvision

python-dotenv


python-docx

pytesseract
Pillow

faster-whisper

beautifulsoup4
requests