fastapi
uvicorn[standard]
python-multipart
pydantic

langchain
langchain-community
langchain-ollama
langchain-huggingface
langchain-text-splitters

pymupdf
python-docx

pillow
pytesseract

faster-whisper

sentence-transformers
torch
torchvision

faiss-cpu

python-dotenv
requests
beautifulsoup4


fastapi
uvicorn
python-multipart

rank-bm25